body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--grisAzulito);
}


.main{
    width: 100%;
    height: auto;
}
.main__section{
    width: 90%;
    height: auto;
    max-width: 1000px;
}


.section__container--title{
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--clarito, white);
    padding: 15px 10px;
}
.section__container--title h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 3rem;
    font-weight: 500;
    color: var(--clarito, white);
}
.section__container--title h2{
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: var(--clarito, white);
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.section__container--title h3{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--clarito, white);
}
.section__container--title h3 span{
    font-weight: 400;
    letter-spacing: 1px;
}



.container__image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 25px 0px;
}
.container__image img{
    width: 100%;
    height: auto;
    max-width: 700px;
    max-height: 1000px;
}
.container__image figcaption{
    width: 100%;
    max-width: 700px;
    height: auto;
    font-size: 1.1rem;
    color: var(--clarito, white);
    background-color: var(--oscuro, black);
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
}
.container__image figcaption a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--clarito, white);    
    cursor: pointer;
}
.container__image figcaption a:hover{
    text-decoration: underline;
}




.section__container--content{
    width: 100%;
    height: auto;
    padding: 15px 10px;
}
.section__container--content p{
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--clarito, white);
    margin-bottom: 20px;
}
.section__container--content a{
    color: aqua;
}
.section__container--content h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--clarito, white);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--clarito, white);
}
.section__container--content h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--clarito, white);
}



.section__container--content blockquote{
    max-width: 400px;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 2.5rem;   
    margin: 0 auto;
    padding: 20px;
    color: var(--clarito, white);
    background-color: var(--oscuro, black);
    border-radius: 5px;
}

.section__container--content ul{
    margin-bottom: 20px;
}
.section__container--content ul span{
    color: var(--clarito, white);
    font-size: 1.9rem;
    text-decoration: none;
}
.section__container--content ul li{
    color: var(--clarito, white);
    font-size: 1.7rem;
    margin: 0px 0px 10px 30px;
    text-decoration: none;
}






.main__section--fuentes{
    width: 100%;
    height: auto;
    background-color: var(--oscuro, black);
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.main__section--fuentes h2{
    font-size: 3rem;
    color: var(--clarito, white);
}

.main__section--fuentes ul{
    padding-left: 20px;
}

.main__section--fuentes ul li{
    color: var(--clarito, white);
    margin: 5px;
}

.main__section--fuentes ul li a{
    color: var(--clarito, white);
    font-size: 1.7rem;
    text-decoration: none;
}

.main__section--fuentes ul li a:hover{
    color: var(--dorado, gold);
    text-decoration: underline;
}