body{
    background-color: var(--grisAzulito);
}

h2{
    font-size: 3rem;
    margin: 30px 0;
    color: var(--clarito);
    text-align: center;
}

.main-aboutMe{
    width: 100%;
    height: auto;
}


.main__section--presentacion{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 500px;
    max-height: 1000px;
    max-width: 1500px;
    overflow-x: hidden;
}
.main__section--presentacion .text-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 0 30% 10%;
}
.main__section--presentacion .text-container h1{
    font-size: 7rem;
    letter-spacing: 1px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    z-index: 1;
}
.main__section--presentacion .text-container p{
    display: none;
}
.main__section--presentacion .text-container h1 span{
    color: red;
    font-size: 8rem;
    z-index: 1;
}
.main__section--presentacion .animation-container{
    width: 100%;
    height: 100%;
}



.main__section--CV{
    width: 100%;
    height: 250px;
    margin: 35px 0;
}
.main__section--CV div{
    width: 80%;
    height: 100%;
    max-width: 1000px;
    background-color: var(--oscuro, black);
    border-radius: 10px;
}
.main__section--CV div a{
    width: 90%;
    height: 80px;
    max-width: 300px;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--clarito);
    animation: parpadeo3 10s infinite;
}

.main__section--CV div a img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



.main__section--porcentajes{
    width: 90%;
    height: auto;
}
.porcentajes__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1100px;
    overflow-x: hidden;
    overflow-y: hidden;
}



.main__section--educacion{
    width: 100%;
    height: auto;
}
.section--educacion-container{
    width: 90%;
    height: 100%;
    max-width: 900px;
    padding: 40px 0px 50px;
}

.section--educacion-container p, .section--educacion-container ul li{
    font-size: 1.7rem;
    color: var(--clarito,white);
    text-align: left;
    margin: 10px 0;
    font-weight: 300;
}
.section--educacion-container p span{
    font-size: 2.5rem;
    font-weight: 600;
}
.section--educacion-container ul{
    margin-top: 1   0px;
    padding-left: 30px;
}

.section--educacion-container br{
    width: 100px;
    background-color: red;
}




@media screen and (min-width: 768px){
    .main__section--presentacion .text-container h1{
        margin: 100px 0 0 50px;
        font-size: 8rem;
    } 
    .main__section--CV div a{
        font-size: 2rem;
    }
    h2{
        font-size: 4rem;
    }
}



@media screen and (min-width: 968px){
    .main__section--presentacion .text-container h1{
        margin: 300px 0 0 50px;
        font-size: 7rem;
    }

    .br{
        display: none;
    }
    
    .main__section--presentacion .text-container p{
        display: block;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: 4px;
        margin-left: 50px;
        color: var(--dorado);
        z-index: 1;
    }       
}
