.main__section--title h1{
    font-size: 5rem;
}

.main__section--title h1 .estilosH1{
    font-size: 4rem;
}
.main__section--title h1 .negrita{
    font-size: 5.3rem;
}

.main__section--title h1 .negrita2{
    font-size: 5rem;
}
.main__section--reciente .contenedor-articulo .article-container{
    border-radius: 40px;
}


.main__section--title div h1{
    font-size: 2.5rem;
}
.main__section--title .gratitude-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 15px 0 15px 0;
}

.main__section--reciente .article-container{
    flex-direction: row;
}