:root{
    --grisAzulito: #202c3a;
    --oscuro: #151a25;
    --dorado: #f9c851;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--grisAzulito);
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainBlog{
    width: 100%;
    height: auto;
}

.main__section--title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 50px 10% 0 10%;
}

.main__section--title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: white;
    text-align: center;
    font-weight: lighter;
    text-shadow: -2px 1px 5px rgb(0 0 0);
}

.main__section--title h1 .estilosH1{
    font-family: 'Roboto', sans-serif; 
    font-size: 3rem;
    color: var(--dorado);
    text-shadow: 0px 0px 0px rgb(0 0 0);
}
.main__section--title h1 .negrita{
    font-size: 4.3rem;
    font-weight: bold;
    letter-spacing: 0;
}

.main__section--title h1 .negrita2{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0;
}











.footerBlog{
    width: 100%;
    height: 200px;
    background-color: var(--oscuro);
}

.footer__section--links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 80%;
}

.footer__section--links div{
    width: 100%;
    height: 100%;
    padding: 10% 5%;
}

/* 
    .section__links--left{
    }

    .section__links--rigth{
    } 
*/

.footer__section--creditos{
    width: 100%;
    height: 20%;
}