:root{
    --grisAzulito: #202c3a;
    --oscuro: #151a25;
    --dorado: #f9c851;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
}

body{
    background-color: var(--grisAzulito);
}

.main__section--title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 50px 10% 0 10%;
}

.main__section--title h1{
    font-size: 4rem;
    color: white;
    text-align: center;
}