/*
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
*/
.header__nav--conteiner-left .logo-container{
    color: white;
    text-decoration: none;
}

.header__nav--conteiner-left .logo-container .logo-text{
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    margin: 5px 2px 0 2px;
}

.header__nav--conteiner-left .logo-container .logo-llaves{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.header__nav--conteiner-left .logo-container p{
    transform: scale(1);
    color: white;
    transition: all 1s;
}
.header__nav--conteiner-left .logo-container:hover p{
    transform: scale(1.1);
    color: #f9c851;
    transition: all 1s;
}