body{
    background-color: var(--grisAzulito);
}

.main-cv{
    width: 100%;
    height: auto;
}

.main__section--presentacion{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 500px;
    max-height: 1000px;
    overflow-x: hidden;
}

.main__section--presentacion .text-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 0 30% 10%;
}
.main__section--presentacion .text-container h1{
    font-size: 7rem;
    letter-spacing: 1px;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    z-index: 1;
}
.main__section--presentacion .text-container p{
    display: none;
}
.main__section--presentacion .text-container h1 span{
    color: red;
    font-size: 8rem;
    z-index: 1;
}



.main__section--presentacion .animation-container{
    width: 100%;
    height: 100%;
}

.main__section--porcentajes{
    width: 90%;
    height: auto;
}
.porcentajes__title{
    width: 80%;
    margin: 30px 0;
    font-size: 3rem;
    color: var(--clarito);
    text-align: center;
}

.porcentajes__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1100px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* @media screen and (min-width: 600px){
    .main__section--presentacion{
        padding: 10% 0 0 10%;
    }
    .main__section--presentacion h1{
        font-size: 7rem;
    }
    .main__section--presentacion p{
        font-size: 4rem;
    }
} */



@media screen and (min-width: 768px){
    .main__section--presentacion .text-container h1{
        margin: 100px 0 0 50px;
        font-size: 8rem;
    } 
}



@media screen and (min-width: 968px){
    .main__section--presentacion .text-container h1{
        margin: 300px 0 0 50px;
        font-size: 7rem;
    }

    .br{
        display: none;
    }
    
    .main__section--presentacion .text-container p{
        display: block;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: 4px;
        margin-left: 50px;
        color: var(--dorado);
        z-index: 1;
    }       
}
